.result-item {
  padding-left: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
}

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Select.is-invalid ~ .invalid-feedback {
  display: block;
}

.highlighted {
  font-weight: bold;
  background: none;
}

.VirtualizedSelectOption {
  cursor: default;
}

.VirtualizedSelectOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
}

.VirtualizedSelectFocusedOption,
.VirtualizedSelectOption:hover {
  background-color: rgba(0, 126, 255, 0.1);
}
.VirtualizedSelectDisabledOption {
  opacity: 0.5;
}
.VirtualizedSelectSelectedOption {
  font-weight: bold;
}
